/*------------------------ESTILOS EXCLUSIVOS DE PESTAÑA NOSOTROS--------------------------------------------------------------------*/
.recuadro{
	border: 9px solid $secondary;
	border-radius: 2%;
}	
.fnos{
	padding-bottom: 15px;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/

.h_hr{
	margin-top: 15px;
	margin-bottom: 15px;
}