h1{
	padding: 35px;
}
/*--------------------------------ESTILOS EXCLUSIVOS PARA PESTAÑA TIENDA-------------------------------------------------------------*/
.productos{
	padding-bottom: 15px;
	border: 4px solid $secondary;
	border-radius: 5%;
	height: 64vh;
}
.img_prod {
	width: 100%;
	height: 35vh;
	border-top-left-radius: 6%;
	border-top-right-radius: 6%;	
}
.costados{	/*"costados" de cada producto*/
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 60px;
	height: 64vh;
}
.descripcion{/*Descripcion de cada producto*/
	font-size: 1.2rem !important;
	padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------MEDIA QUERIES DE PESTAÑA TIENDA-------------------------------------------------------*/
@media (min-width: 576px) and (max-width: 768px) {
	.productos{
		width: 32vw!important;
		height: 65vh;
	}
	.descripcion{
		font-size: 1rem !important;
	}
	.costados{
		margin-bottom: 50px;
		max-height: 75vh;
		p{
			font-size: 0.8rem;
		}
	}
	.img_prod {
			width: 100%;
			height: 37vh;
		}	
}
@media (max-width: 575px) {
	.productos{
		width: 75vw!important;
		height: 70vh;
		text-align: center;
	}	
	.descripcion{
		font-size: 0.9rem !important;
	}
	.costados{
		height: 68vh;
		p{
			font-size: 0.8rem;
		}		
	}
	.img_prod {
		width: 100%;
		height: 42vh;
	}
}	
@media (min-width: 1440px) {
	.productos{
		height: 59vh;
	}
}/*---------------------------------------------------------------------------------------------------------------------------------*/


